/**
 *文章详细信息样式 detail
 */
.detail-card{
    margin-bottom: 20px;
}
.detail h1{
    font-size: 30px;
    padding-bottom: 10px;
}
.detail .info{
    margin-bottom: 10px;
}
.detail .info span{
    color: #919191;
    font-size: 14px;
    margin-right: 10px;

}
.detail hr{
    height: 2px;
    background: #D3E0E2;
    border: none;
    margin-bottom: 10px;
}
.detail p{
    line-height: 32px;
    font-size: 16px;
    color: #333;
    text-indent: 32px;
}
.detail .contact{
    margin-top: 20px;
}
.detail .contact h3{
    color: #5a5a5a;
    font-size: 20px;
    text-align: center;
}
.detail .contact hr{
    width: 400px;
    margin: 10px auto;
}
.detail .contact .img-container{
    width: 400px;
    height: 150px;
    margin: 0 auto;
}
.detail .contact .img-container .img-box{
    width: 150px;
    height: 150px;
    margin: 0 25px;
    padding: 25px;
    float: left;
}
.detail .contact .img-container .img-box img{
    width: 100px;
    height: 100px;
}
.detail .contact .img-container .img-box:nth-of-type(1){
    background: #c17500;
}
.detail .contact .img-container .img-box:nth-of-type(2){
    background: #533eb4;
}