/**
 * 留言本展示组件样式 messageboard
 */
.message-show-card{
    padding:10px 20px;
}
.title{
   font-size: 30px;
}
.message-show-split{
    height: 2px;
    margin: 10px 0;
    background: #D3E0E2;
    border: none;
}
.message-card{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    margin-bottom: 10px;
}
.message-content{
    text-align: left;
    margin: 0;
    font-size: 14px;
    color: #333;
    float: left;
    line-height: 40px;
}
.icon-div{
    float: left;
    height: 40px;
    margin-right: 10px;
}
.user-icon{
}
.message-author{
    float: right;
}
.message-date{
    float: right;
}
.message-author,.message-date{
    margin-right: 20px;
    color: #bfbfbf;
}