/**
 * 管理员走马灯样式
 */
.ant-carousel{
  /*  margin-top: 50px;*/
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 800px;
    line-height: 800px;
    background: #364d79;
    overflow: hidden;
}
.ant-carousel .slick-slide h3 {
    color: #fff;
    font-size: 60px;
}