/**
 * 管理员主界面console样式
 */

/*header顶部*/
.header{
    height: auto;
    background: #fff;
    box-shadow: 0 0 2px #000;
}

/*console*/
.console-layout{
    min-height: 100vh;
}
.console-header{
    background: #fff;
    padding: 0;
}
.console-content{
    margin: 0 16px;
    padding: 40px 0;
}
.console-container{
    padding: 24px;
    background: #fff;
    height: 100%;
}
.console-footer{
    text-align: center;
}
.logo{
    height: auto;
}
.item{
    width: 60%;
}
.menu-item{
    display: inline-block;
    width: calc( 100% - 22px );
}