/**
 * 管理员主界面console样式
 */

/*console*/
.console-layout{
    min-height: 100vh;
}
.console-header{
    background: #fff;
    padding: 0;
}
.console-content{
    margin: 0 16px;
}
.console-container{
    padding: 24px;
    background: #fff;
    height: 100%;
}
.console-footer{
    text-align: center;
}