/**
 * 日期组件样式 calender
 */
.calender-card-container{
    padding: 10px 20px;
}
.calender-card{
    border: none;
}
.calender-box{
    text-align: center;
    width: 290px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin: 20px auto;
}
.title{
    font-size: 30px;
}
.calender-split{
    height: 2px;
    margin: 10px 0;
    background: #D3E0E2;
    border: none;
}
.countDown-container{
    text-align: center;
}
.countDown-title{
    font-weight: bold;
    padding: 0 10px;
    font-size: 20px;
}
.countDown-content{
    font-size: 20px;
}