/**
 * 日期组件样式 calender
 */
.calender-card-container{
    padding: 10px 20px;
}
.calender-card{
    border: none;
}
.title{
    font-size: 30px;
}
.calender-split{
    height: 2px;
    margin: 10px 0;
    background: #D3E0E2;
    border: none;
}