/**
 * 登录组件样式 login
 */
.login-card{
    margin:0 auto;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-color: transparent;
}
.login-form{
    padding: 20px 0 0;
}
.login-form-button{
    float: right;
}
.tip{
    text-align: center;
    color: #bfbfbf;
}
.admin-title{
    font-size: 40px;
    text-align: center;
    line-height: 100px;
}

